.chat-message-input_action-popover {
  > .ant-popover-content > .ant-popover-inner {
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(15, 23, 42, 0.14);

    > .ant-popover-inner-content {
      padding: 0;
    }
  }
}
