.chatbox-mention-input {
  @apply shadow-none border-0 px-4 py-3 relative;

  &__control {
    @apply relative;
  }

  &__input {
    @apply outline-none;
  }

  &__highlighter--singleLine {
    @apply whitespace-nowrap h-6 !important;
  }

  &__suggestions {
    @apply bg-transparent !important;

    &__list {
      @apply border border-black/5 bg-white dark:bg-content-dark rounded-2xl overflow-auto absolute;
      max-height: 60vh;
      min-width: 240px;
      bottom: 14px;
      box-shadow: 0 10px 30px rgba(15, 23, 42, 0.12);
    }

    &__item {
      @apply rounded;

      &--focused {
        @apply bg-tc-bg-elevated;
      }
    }
  }
}
