.env
node_modules
**/node_modules
.pnpm-store
**/.pnpm
logs
dist
website
page
client/desktop
client/desktop-old
client/mobile
apps
*.tsbuildinfo
**/*.tsbuildinfo
.rollup.cache\n.eslintcache\n.stylelintcache
